{%  extends 'base.html' %}
{% block title %}FlipKart|Add Address{% endblock %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header bg-primary text-center">
                <h3>Add New Address</h3>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Mobile Number</label>
                        {{form.mobile}}
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        {{form.address}}
                    </div>

                    <div class="form-group">
                        <label>Pincode</label>
                        {{form.pincode}}
                    </div>

                    <input type="submit" class="btn btn-primary" value="Save Address">
                    <a href="/showcarts"><input type="button" class="btn btn-danger" value="Cancel"></a>
                </form>
            </div>
        </div>

        <div class="text-center mt-3">
            <a href="/showaddress" class="btn btn-success">View All Saved Addresses</a>
        </div>
    </div>
</div>



{% endblock %}