{% extends 'base.html' %} 
{% block title %} 
FlipKart|{{user}}-ResetPassword
{% endblock %} 

{% block body %}
<div class="container">
  <div class="row">
    <h2 class="text-center">Reset Password for {{user}}</h2>

    {% if errmsg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Error</strong> {{errmsg}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <input
        type="password"
        name="upass"
        placeholder="Enter new password"
        required
      />
      <br /><br />
      <input
        type="password"
        name="ucpass"
        placeholder="Enter confirm password"
        required
      /><br /><br />

      <input class="bg-danger" type="submit" value="Reset Password" />
    </form>
  </div>
</div>
{% endblock %}
